

:root {
  /*main color*/
  --main1: #3d3d3d;
  --main2: #6059f7;
  --main3: #6592fe;
  --main4: #36c3fe;
  --main5: #8c61ff;
  /*box-bg*/
  --box-bg: #f0f1f1;
  /*gray*/
  --gray1: #222222;
  --gray2: #555555;
  --gray3: #717171;
  --gray4: #8f8f8f;
  --gray5: #b7b7b7;
  --gray6: #d6d6d6;
  --gray7: #efefef;
  --gray8: #ffffff;

  /*line-color*/
  --line1: #222222;
  --line2: #d6d6d6;
  --line3: #eaeced;
  --line4: #f6f6f6;
  --line5: #f8f9fa;
}
@font-face {
  font-family: ns-l;
  src: url(/resources/resources/font/NotoSansKR-Light.ttf);
}
@font-face {
  font-family: ns-r;
  src: url(/resources/font/NotoSansKR-Regular.ttf);
}
@font-face {
  font-family: ns-b;
  src: url(/resources/font/NotoSansKR-Bold.ttf);
}
@font-face {
  font-family: ns-black;
  src: url(/resources/font/NotoSansKR-Black.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style-type: none; /*목록 스타일 제거*/
  color: black; /*글꼴 색깔 검정으로 기본 설정*/
}
a {
  text-decoration: none;
}

.nav {
  flex: 1;
  
}
.nav > ul {
  display: flex;		
  align-items: center;
}
.nav > ul > li {
  margin: 0px 15px;
  position: relative; 
 
}
.nav a,
.user-menu a {
  transition-duration: 0.3s;
}

.nav a:hover,
.user-menu a:hover {
  color: var(--gray1); 
}

.nav .sub-menu {
  display: none;
  position: absolute;
  width: 130px;
  background-color: #fff;
  border: 1px solid var(--main2);
  border-radius: 5px;
  left: 10px; 
  z-index: 1;
}

.sub-menu > li > a {
  color: var(--main2);
  padding: 10px;
  display: block; 
}
.nav > ul > li:hover > .sub-menu {
  display: block;  
}
.sub-menu > li > a:hover {
  background-color: var(--main2);
  color: var(--gray8);
}
.user-menu {
  display: flex; 
}
.user-menu > li {
  margin-left: 20px;
}

.content {
  width: 100%;
  max-width: 1400px;
  margin: 30px auto;
  flex: 1;
 
}
.page-title {
  font-weight : bold;
  padding: 30px;
  text-align: center;
  font-family: ns-b;
  font-size: 20px;
  color: var(--main2);
}

section.section {
  padding: 20px;
  border-radius: 10px; 
  background-color: var(--gray8);
}
section.section.bg-section {
  background-color: var(--box-bg);
}

[class^="btn-"] { 
  cursor: pointer; 
  font-size: 14px;
  padding: 9px 20px;
  border: none;
  border-radius: 5px;
  font-family: ns-b;
}
.btn-primary {
  border: 1px solid var(--main3);
  background-color: var(--main3);
  color: var(--gray8);
}
.btn-primary:hover {
  background-color: rgba(101, 146, 254, 0.9);
}
.btn-secondary {
  border: 1px solid var(--gray4);
  background-color: var(--gray4);
  color: var(--gray8);
}
.btn-secondary:hover {
  background-color: rgba(143, 143, 143, 0.9);
}
.btn-point {
  border: 1px solid var(--main5);
  background-color: var(--main5);
  color: var(--gray8);
}
.btn-point:hover {
  background-color: rgba(140, 97, 255, 0.9);
}
.btn-primary.outline {
  color: var(--main3);
  background-color: var(--gray8);
}
.btn-primary.outline:hover {
  background-color: rgba(101, 146, 254, 0.2);
}
.btn-secondary.outline {
  color: var(--gray4);
  background-color: var(--gray8);
}
.btn-secondary.outline:hover {
  background-color: rgba(143, 143, 143, 0.2);
}
.btn-point.outline {
  color: var(--main5);
  background-color: var(--gray8);
}
.btn-point.outline:hover {
  background-color: rgba(140, 97, 255, 0.2);
}
[class^="btn-"].sm {
  padding: 5px 10px;
  font-family: ns-r; 
  font-size: 12px;
}
[class^="btn-"].md {
  padding: 7px 15px;
  font-size: 14px;
  border-radius: 20px;
}
[class^="btn-"].lg {
  padding: 12px 25px;
  font-size: 16px;
  border-radius: 25px;
}

.tbl {
  border-top: 1px solid var(--main3);
  width: 100%;
  border-spacing: 0;
}
.tbl th,
.tbl td {
  text-align: center;
  border-bottom: 1px solid var(--line2);
  padding: 10px 20px;
}
.tbl th.left,
.tbl td.left {
  text-align: left;
}
.tbl th {
  background-color: rgba(101, 146, 254, 0.2);
}
.tbl.tbl-hover tbody > tr:hover {
  cursor: pointer;
  background-color: rgba(101, 146, 254, 0.1);
}
.input-wrap {
  display: flex;
  flex-direction: column; 
}
.input-wrap > .input-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5; 
}
.input-item {
  display: flex;
  gap: 10px; 
}
.input-item > input {
  flex: 1;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-bottom: 1px solid var(--gray5);
  padding: 8px 0px;
}
.input-item + .input-msg { 
  position: relative;
  margin-top: 8px;
  padding-left: 24px;
  color: var(--gray3);
  font-size: 14px;
  line-height: 1.5;
}
.input-item + .input-msg::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 20px;
  background: url(/resources/images/icon_info.svg) no-repeat center / contain;
}
.input-item + .input-msg.valid {
  color: #1065dc;
}
.input-item + .input-msg.valid::before { 
  background: url(/resources/images/icon_info_success.svg) no-repeat center / contain;
}
.input-item + .input-msg.invalid {
  color: #ff3d00;
}
.input-item + .input-msg.invalid::before {
  background: url(/resources/images/icon_info_warning.svg) no-repeat center / contain;
}

.input-item > textarea {
  width: 100%;
  height: 156px;
  padding: 15px;
  resize: none; 
  font-size: 16px;
  line-height: 24px;
  border: 1px solid var(--line2);
}

.input-wrap > input[type="checkbox"] {
  display: none;
}
.input-wrap > input[type="checkbox"] + label {
  position: relative;
  display: block;
  flex-grow: 1; 
  padding: 8px 0 8px 30px;
  cursor: pointer;
}
.input-wrap > input[type="checkbox"] + label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 24px;
  height: 24px;
  color: var(--main3);
  border-radius: 50%;
  background: url(/resources/images/icon_check.png) no-repeat center / 20px; 
}
.input-wrap > input[type="checkbox"]:checked + label::before {
  background: url(/resources/images/icon_check_active.png) no-repeat center / 20px;
}

.input-wrap > input[type="radio"] {
  display: none;
}
.input-wrap > input[type="radio"] + label {
  position: relative;
  display: block;
  flex-grow: 1;
  padding: 8px 0 8px 30px;
  cursor: pointer;
}
.input-wrap > input[type="radio"] + label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 8px;
  width: 24px;
  height: 24px;
  color: var(--main3);
  border-radius: 50%;
  background: url(/resources/images/icon_check.png) no-repeat center / 20px;
}
.input-wrap > input[type="radio"]:checked + label::before {
  background: url(/resources/images/icon_check_active.png) no-repeat center / 20px;
}
.select {
  flex: 1;
  position: relative;
  border: 1px solid var(--line2);
  border-radius: 5px;
  background: #fff url(/resources/images/icon_arrow_down.svg) no-repeat right 12px center / 12px;
  overflow: hidden;
}
.select > select {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  border: 0;
}
.modal-bg {
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-bg.open {
  display: flex;
}
.modal-container {
  background-color: var(--gray8);
  padding: 40px 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 20px;
  box-sizing: border-box;
  position: relative;
}
.modal-title {
  font-size: 20px;
  font-family: ns-b;
  line-height: 30px;
  text-align: center;
}
.modal-main {
  flex: 1;
  overflow-y: auto;
  padding: 0px 30px;
}
.modal-content {
  max-height: 200px;
}
.modal-btn-area {
  display: flex;
  gap: 13px;
  justify-content: center;
}
.modal-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  cursor: pointer;
}

.posting-wrap{
	overflow: hidden;
	padding: 10px;
}
.posting-wrap>.posting-item{
	box-sizing: border-box;
	width : 335px;
	float: left;
	padding : 30px
	
}
.posting-item>a{
	display : block;
}
.posting-item:hover{
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.posting-img{
	height: 200px;
}
.posting-img>img{
	width:100%;
	height:100%;
	object-fit:contain;
}
.posting-info{
	margin: 10px auto;
	width: 75%
}
.posting-title{
	font-size : 18px;
	font-family : ns-b;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.posting-sub-info{
	margin : 10px 0px;
	display: flex;
	justify-content: space-between;
}
.posting-sub-info>span{
	font-size: 14px;
	font-family: ns-b;
}

.pagination > li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
}
.pagination.circle-style > li {
  border-radius: 50%;
}
.pagination > li > a.page-item {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.pagination > li > a.page-item > span.material-icons {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.pagination .page-item.active-page {
  background-color: rgb(0, 82, 241);
  color: #fff;
}


/* header 부분 css */
.header a:hover,
.main-menu>li:hover {
  text-decoration: underline; /*마우스 올렸을 때 밑줄 스타일*/
}
.wrap {
	min-height: 100vh;	
}

.header {
  margin: 0 auto; /*가운데 정렬*/
  position: fixed;
  width: 1200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  background-color: rgb(0, 82, 241);
}
.header-wrap {
  background-color: rgb(0, 82, 241);
  margin: 0 auto;
  padding-bottom: 20px;
}
.header-menu {
  display: flex; /*자식 요소 가로 정렬*/
  justify-content: flex-end; /*우측 정렬*/
  padding: 10px 0;
}
.header-menu>li {
  margin: 0 10px;
  color: white;
}
.header-menu>li>a {
  color: white;
}
.logo {
  display: flex;
  justify-content: center; /*가운데 정렬*/
}
.logo>a {
  display: block;
  width: 200px;
  height: 100px;
}
.logo>a>img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.header-list {
  display: flex;
  width: 1200px;
  margin: 0 auto; /*가운데 정렬*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: white;
}
.main-menu {
  width: 700px;
}
.main-menu>li {
  float: left; /*li 태그 가로 정렬*/
  width: 140px;
  line-height: 50px;
  text-align: center;
}
.search {
  margin-left: auto; /*우측 정렬*/
  margin-right: 30px;
  line-height: 50px;
}
.search>select {
  height: 30px;
}
.search>input {
  height: 28px;
}
.search>button {
  height: 30px;
  width: 60px;
  background-color: rgb(0, 82, 241);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#search-option, input[name=search] {
  border: 1px solid black;
  border-radius: 5px;
}

.large-category {
  position: absolute;
  display: none; /*처음에는 안 보이게*/
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid white;
  background-color: white;
}
.large-category>li {
  position: relative; /*부모 시작위치에 정렬*/
  float: left; /*li 태그 가로 정렬*/
  width: 250px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.medium-category {
  display: none; /*처음에는 안 보이게*/
  width: 100%;
  border: 1px solid black;
  background-color: white;
}
.medium-category>table {
  width: 100%;
}
.tbl-category tr:first-child td {
  border-bottom: 1px dashed black;
}
.main-menu>li:hover>.large-category,
.large-category>li:hover>.medium-category {
  display: block; /*마우스 올리면 보이게 하기*/
  font-weight: normal;
}

.main-menu>li:hover,
.large-category>li:hover,
.small-category>td>a:hover {
  font-weight: bold;
}

.padding {
  height: 240px;
  background-color: white;
}

.fixed {
  position: fixed; /* 화면에 고정 */
  bottom: 20px; /* 아래에서 20px */
  right: 280px; /* 오른쪽에서 280px */
  padding: 0 auto;
  z-index: 9999; /* 항상 위에 표시 */
}
.fixed>div {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}
.post {
  border: 1px solid rgb(0, 82, 241);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top {
  background-color: rgb(0, 82, 241);
  display: flex;
  align-items: center;
  justify-content: center;
}
.post>.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1 ,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: rgb(0, 82, 241);
  font-size: 45px;
}
.top>.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1 ,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: white;
  font-size: 40px;
}


/* footer 부분 css*/
.footer {
  height: 200px;
  display: flex;
  justify-content: center;
}
.footer>div {
  box-sizing: border-box;
  width: 1200px;
  background-color: rgb(233, 233, 233);
  padding: 0 80px;
  padding-top: 20px;
  display: flex;
}
.footer>div>div:first-child {
  font-size: 18px;
  font-weight: bold;
}
.footer>div>div:last-child {
  margin-left: auto;
}
.footer>div>div>div {
  font-size: 10px;
  font-weight: normal;
  margin-bottom: 8px;
}
.footer>div>div:first-child>div:first-child {
  margin-top: 20px;
}
.footer a {
  text-decoration: none;
}
.footer .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0, /* '1' 배경색 채워짐 */
  'wght' 400, /* stroke 굵기 */
  'GRAD' 0, /* 두께*/
  'opsz' 24; /* 옵티컬사이즈 */
  color: rgba(0, 0, 0, 0.534);
}


/* main 화면 css */
.main-wrap {
  width: 1200px;
  min-height: 52.2vh;
  margin: 0 auto;
}

.main-image {
  width: 1000px;
  height: 400px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.main-wrap>span>a:hover {
	text-decoration: underline;
}

hr {
  margin: 0 auto;
  width: 95%;
}

.main-wrap>span {
  display: block;
  margin-left: 130px;
  margin-top: 20px;
}
.main-wrap>button {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 80px;
  height: 30px;
  background-color: rgb(0, 82, 241);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.image>.material-symbols-outlined { /* 찜하기 버튼 */
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  position: absolute;
  font-size:32px;
  color: red;
  z-index: 10;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
}
.image>.material-symbols-outlined.fill { /* 찜하기 버튼 */
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  position: absolute;
  font-size:32px;
  color: red;
  z-index: 10;
  right: 2%;
  bottom: 2%;
  cursor: pointer;
}


/* 공지사항, 이벤트 목록 css */
.notice-wrap {
  width: 1000px;
  min-height: 52.1vh;
  margin: 0 auto;
}
.notice-header {
  display: flex;
  justify-content: space-between;
}
.notice-title>a {
  display: block;
  height: 40px;
  line-height: 40px;
  font-weight: bold;
  font-size: 18px;
  padding-left: 10px;
}
.notice-title>a:hover {
	text-decoration: underline;
}
.write-btn {
  display: block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 2px solid rgb(0, 82, 241);
  border-radius: 10px;
  color: rgb(0, 82, 241);
  font-weight: bold;
}
.write-btn:hover {
  text-decoration: none;
}
.list-content {
  margin-top: 20px;
  min-height: 380px;
}
.tbl-list {
  width: 1000px;
  text-align: center;
  border-spacing: 0;
}
.tbl-list th {
  height: 50px;
  background-color: rgb(0, 82, 241);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-left: 1px solid white;
  color: white;
  cursor: default;
}
.tbl-list td {
  height: 50px;
  border-bottom: 1px solid gray;
}
.tbl-list tr:hover {
  background-color: #8ab6f8;
}
#pageNavi {
  margin: 15px 0;
}


/* 공지사항, 이벤트 작성 화면 css */
.write-notice {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 10px solid lightgray;
  border-radius: 10px;
}
.write-title {
  display: flex;
  justify-content: center;
  height: 80px;
  line-height: 80px;
  font-size: 25px;
  font-weight: bold;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.write-tbl {
  width: 1000px;
  border-spacing: 0;
}
.write-tbl tr {
  text-align: center;
}
.write-tbl th {
  font-size: 20px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.write-tbl td {
  border-bottom: 1px solid black;
}
.write-tbl input[name=noticeTitle] {
  width: 770px;
  height: 50px;
  font-size: 25px;
  margin: 5px;
  border: none;
  border-bottom: 1px solid black;
}
.write-tbl input[name=eventTitle] {
  width: 770px;
  height: 50px;
  font-size: 25px;
  margin: 5px;
  border: none;
  border-bottom: 1px solid black;
}
.write-tbl textarea {
  width: 760px;
  height: 300px;
  margin: 5px;
  padding: 10px;
  font-size: 20px;
  resize: none;
}
.write-tbl input[name=noticeFile] {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
}
.write-tbl input[name=eventFile] {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
}
.write-tbl button {
  width: 100px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 30px;
  background-color: rgb(0, 82, 241);
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.write-tbl button:hover {
    cursor: pointer;
}

/* 전체 상품 화면 css */
.filter {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}
#filter {
  display: block;
  height: 30px;
  border-radius: 10px;
}
.price-range {
  margin: 0 10px;
}
.price-range input {
  width: 100px;
  height: 25px;
}
#priceFilter {
  width: 50px;
  height: 29px;
  background-color: rgb(0, 82, 241);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* 카테고리별 상품 화면 css */
.category {
	width: 1000px;
	margin: 0 auto;
	margin-bottom: 10px;
}

/* 공지사항, 이벤트 상세 페이지 css */
.view-wrap {
  width: 1000px;
  margin: 0 auto;
}
.div-btn {
  display: flex;
}
.del-btn {
  display: block;
  width: 100px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  border: 2px solid rgb(0, 82, 241);
  border-radius: 10px;
  background-color: rgb(0, 82, 241);
  color: white;
  font-weight: bold;
  margin-left: 5px;
  cursor: pointer;
}
.notice-view {
  margin: 20px 0;
  border: 10px solid lightgray;
  border-radius: 10px;
}
.notice-view>table {
  width: 100%;
  border-spacing: 0;
}
.notice-view>table th,
.notice-view>table td {
  padding: 10px 0;
  border-bottom: 1px solid black;
}
.notice-view>table img {
  display: block;
  margin: 0 auto;
  height: 300px;
}
.notice-view>table div {
  width: 900px;
  margin: 0 auto;
}
/* /notice/view.jsp 하단에 아직 구현 안 한 div와 관련된 css
.view-wrap>div:last-child {
  border-top: 1px solid rgb(0, 82, 241);
  border-bottom: 1px solid rgb(0, 82, 241);
  margin-bottom: 20px;
}
.next-notice {
  border-top: 1px solid rgb(0, 82, 241);
  border-bottom: 1px solid rgb(0, 82, 241);
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.next-notice:hover {
  background-color: #8ab6f8;
}
.next-notice span {
  margin: 0 15px;
}
*/

/* 카드형 게시판 영역 */
.style-review-board {
  width: 1000px;
  margin: 20px auto;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  width: 195px;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.2s ease-in-out;
  margin-bottom: 10px;
}
.card:hover {
  transform: scale(1.02);
}
.card .image {
  width: 100%;
  height: 260px;
  position: relative;
}
.card .image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}
.card .image-info {
  box-sizing: border-box;
  width : 100%;
  height: 60px;
  background: #fafafa;
}
.image-prod {
  display: block;
  box-sizing: border-box;
  height: 60%;
  max-width: 100%;
  padding: 0 5px;
}
.image-prod>a:hover {
  text-decoration: underline;
}
.image-price {
  float: right;
  padding-right: 5px;
}

/* 관리 페이지 */
.admin-page {
	width: 1200px;
	min-height: 52.2vh;
	margin: 0 auto;
}
.admin-menu {
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
}
.admin-menu a {
	font-size: 20px;
}
.admin-menu a:hover {
	font-weight: bold;
	text-decoration: underline;
}
.admin-page-sub {
	width: 1000px;
	margin: 0 auto;
}
.admin-page-sub>span {
	font-weight: bold;
	font-size: 20px;
}
.admin-page-sub>div {
	display: flex;
	justify-content: space-around;
}
.search-member,
.search-report,
.search-black {
	width: 300px;
	height: 300px;
	margin-top: 30px;
	margin-bottom: 10px;
	text-align: center;
}
.admin-page-sub a {
	font-size: 30px;
}
.admin-page a:hover {
	text-decoration: underline;
}
.count {
	margin-top: 10px;
	border: 5px solid rgb(0, 82, 241);
	border-radius: 10px;	
}
.count span {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
	font-size: 20px;
}
.count div {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	line-height: 200px;
	font-size: 100px;
}

/* 전체 회원 조회 */
.tbl-member {
	width: 100%;
	border-spacing: 0;
	margin-bottom: 15px;
}
.tbl-member th {
	height: 50px;
	border-bottom: 1px solid #eee;
}
.tbl-member tr:first-child>th {
	background-color: rgb(0, 82, 241);
	color: white;
	font-size: 20px;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.tbl-member td {
	text-align: center;
	border-bottom: 1px solid #eee;
}
.tbl-member button {
	display: block;
	background-color: rgb(0, 82, 241);
	color: white;
	border: none;
	border-radius: 10px;
	height: 30px;
	width: 70px;
	margin: 0 auto
}
.tbl-member button:hover {
	cursor: pointer;
}

/* 블랙 등록 팝업 */
.black-wrap {
	width: 495px;
	height: 325px;
}
.black-wrap>table {
	width: 100%;
}
#blackReason {
	width: 90%;
	height: 230px;
	resize: none;
	font-size: 18px;
}
.black-wrap input {
	width: 90%;
	height: 30px;
	margin: 5px 0;
	border: none;
	border-bottom: 1px solid black;
}