.footer {
    height: 200px;
    display: flex;
    justify-content: center;
}
.footer>div {
    box-sizing: border-box;
    width: 1200px;
    background-color: rgb(233, 233, 233);
    padding: 0 80px;
    padding-top: 20px;
    display: flex;
}
.footer>div>div:first-child {
    font-size: 18px;
    font-weight: bold;
}
.footer>div>div:last-child {
    margin-left: auto;
}
.footer>div>div>div {
    font-size: 10px;
    font-weight: normal;
    margin-bottom: 8px;
}
.footer>div>div:first-child>div:first-child {
    margin-top: 20px;
}
.footer a {
    text-decoration: none;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0, /* '1' 배경색 채워짐 */
    'wght' 400, /* stroke 굵기 */
    'GRAD' 0, /* 두께*/
    'opsz' 24; /* 옵티컬사이즈 */
    color: rgba(0, 0, 0, 0.534);
}