.write-notice {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 10px solid lightgray;
    border-radius: 10px;
}
.write-title {
    display: flex;
    justify-content: center;
    height: 80px;
    line-height: 80px;
    font-size: 25px;
    font-weight: bold;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.write-tbl {
    width: 1000px;
    border-spacing: 0;
}
.write-tbl tr {
    text-align: center;
}
.write-tbl th {
    font-size: 20px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.write-tbl td {
    border-bottom: 1px solid black;
}
input[name=noticeTitle] {
    width: 770px;
    height: 50px;
    font-size: 25px;
    margin: 5px;
    border: none;
    border-bottom: 1px solid black;
}
textarea {
    width: 760px;
    height: 300px;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    resize: none;
}
input[name=noticeFile] {
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}
.write-tbl button {
    width: 100px;
    height: 50px;
    margin: 5px;
    border: none;
    border-radius: 30px;
    background-color: #0064FF;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.write-tbl button:hover {
    cursor: pointer;
}