.notice-wrap {
    width: 1000px;
    min-height: 52.1vh;
    margin: 0 auto;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.page-title {
    height: 40px;
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}
.write-btn {
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 2px solid #0064FF;
    border-radius: 10px;
    color: #0064FF;
    font-weight: bold;
}
.write-btn:hover {
    text-decoration: none;
}
.list-content {
    margin-top: 20px;
    min-height: 380px;
}
.tbl-list {
    width: 1000px;
    text-align: center;
    border-spacing: 0;
}
.tbl-list th {
    height: 50px;
    background-color: #0064FF;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-left: 1px solid white;
    color: white;
}
.tbl-list td {
    height: 50px;
    border-bottom: 1px solid gray;
}
.tbl-list tr:hover {
    background-color: #8ab6f8;
    cursor: pointer;
}
#pageNavi {
    margin: 15px 0;
}
.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination > li {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  overflow: hidden;
}
.pagination.circle-style > li {
  border-radius: 50%;
}
.pagination > li > a.page-item {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 18px;
}
.pagination > li > a.page-item > span.material-icons {
  display: block;
  width: 100%;
  height: 100%;
  line-height: 40px;
}
.pagination .page-item.active-page {
  background-color: #0064FF;
  color: #fff;
}